.idea
venv
.venv
build
dist
*.build
*.dist
*.egg-info
test
*.env
run_container.sh
*.zip
bin
scripts/*.py
*.json
markdown_overview_temp.md
markdown_security_temp.md
.DS_Store
*.pyc
test.py
*.cpython-312.pyc`
file_generator.py